<% @user ||= current_user %>
<div class="user-stats">
  <p>
    <span><b><%= @user.followed_users.count %></b> <br>following </span>
    <span><b><%= @user.followers.count %></b> <br>followers</span>
    <span><b><%= @user.posts.count %></b> <br>posts</span>
  </p>
</div>