
@import 'melee';

.user-posts {
  overflow: hidden;
  font-family: $OpenSans;
  padding: 0 50px;
  li {
    margin: 0 0 40px 20px;
  }
  h3 {
    font-size: 20px;
    font-weight: 300;
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
    border-bottom: $thinborder;
  }
  .content {
    display: block;
    padding: 10px 0;
  }
  .timestamp {
    color: $darkgrey;
    font-size: 14px;
  }
  .delete-post {
    a {
      color: $darkgrey;
      font-size: 12px;
      font-weight: normal;
    }
  }

  .user-name a {
    font-weight: bold;
    letter-spacing: 1px;
  }
}