// user show page
@import 'melee';


.user-profile {
  font-family: $OpenSans;
}
.user-info {
  float: left;
  width: 300px;
  padding: 0 20px; 
  .image {
    width: 200px;
    height: 200px;
    background: #888;
    border-radius: 50%;
    margin: auto;
  }
  h2 {
    padding: 30px 0 10px 0;
    text-align: center;
    font-size: 30px;
  }
  .user-info-username {
    font-weight: 400;
    color: $giraffe-spots;
    text-align: center;
    padding: 0 0 40px 0;
  }
  .description {
    font-size: 14px;
    text-align: justify;
  }
  .location {
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 0 0;  
    font-weight: 400;

  }

  .follow-button {
    position: relative;
    top: -450px;
    left: 45px;
    border: none;
    background: $blue;
    color: white;
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: top;
    text-align: center;
    &:hover {
      cursor: pointer;
      background: $bluehover;
    }
  }
}

.new-user-message {
  color: $medgrey;
  font-size: 12px;
}

