//user signin-page
@import 'melee';

.container-unsigned {
  background: $blue;
  width: 100%;
}

.home-not-signed-in {
  max-width: 960px;
  margin: auto;
  height: 690px;
  background: url('http://i.imgur.com/yHancIo.png') no-repeat 50px 50px;
  font-family: "Open Sans", sans-serif;
  .signin-welcome-message {
    float: right;
    padding: 150px 0px 50px 50px;
    h2 {
      color: white;
      padding: 0 0 50px 0;
      font-size: 30px;
      font-weight: 400px;
      letter-spacing: 2px;
    }
    form {
      input {
        display: block;
        padding: 20px;
        border: none;
        font-size: 14px;
        border-radius: 5px;
        &[type=text] {
          width: 280px;
        }
      }
      input:focus {
        outline: none;
      }
      .signin-password {
        float: left;
        margin: 20px 20px 20px 0;
        width: 200px;
      }
      .signin-submit {
        background: #4E4D4D;
        margin: 20px;
        padding: 20px;
        color: white;
        font-weight: bold;
        &:hover {
         background: #5B5B5B;
         cursor: pointer;
        }
      }
    }
    .signup-button {
      clear: both;
    }
    .signin-registermsg {
      padding: 50px 0 0 50px;
      letter-spacing: 1px;
      font-size: 14px;
      a:hover {
        color: #222;
      }
    }
  }
}

.registration {
  background: #78A7C9;
  width: 50%;
  margin: 10px auto;
  border-radius: 5px;
  font-family: $OpenSans;
  padding: 20px;

  h2 {
    color: white;
    font-weight: 400;
  }
  .new-user {
    margin: auto;
    width: 400px;
  }
  form {
    margin: 50px;
    input {
      display: block;
      padding: 10px;
      border: none;
      font-size: 14px;
      border-radius: 5px;
      width: 350px;
      margin: 10px;
      &[type=text] {
        width: 350px;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .submit-button input {
    margin-top: 20px;
    color: white;
    width: 370px;
    background: $giraffe;
    &:hover {
      cursor: pointer;
      background: $giraffe;
    }
  }
  
}