.home-not-signed-in {
  height: 725px;
  background: #78A7C9 url('http://jraff.es/images/jraff.png') no-repeat 150px 50px;
  font-family: "Open Sans", sans-serif;
  .signin-welcome-message {
    float: right;
    padding: 150px 250px 100px 50px;
    h2 {
      color: white;
      padding: 0 0 50px 0;
      font-size: 30px;
      font-weight: 400px;
      letter-spacing: 2px;
    }
    form {
      
      input {
        display: block;
        padding: 20px;
        border: none;
        font-size: 14px;
        border-radius: 5px;
        &[type=text] {
          width: 280px;
        }
      }
      input:focus {
        outline: none;
      }
      .signin-password {
        float: left;
        margin: 20px 20px 20px 0;
        width: 200px;
      }
      .signin-submit {
        background: #4E4D4D;
        margin: 20px;
        padding: 20px;
        color: white;
        font-weight: bold;
        &:hover {
         background: #5B5B5B;
        }
      }
    }
    .signup-button {
      clear: both;
    }
    .signin-registermsg {
      padding: 50px 0 0 5px;
      letter-spacing: 1px;
      font-size: 14px;
      a:hover {
        color: #222;
      }
    }
  }
}